<div>
    <div class="container text-left py-3 mt-5">
        <h1 class="display-4 pb-4">Laminas de Protección Solar</h1>
        <div class="row solar row-cols-auto">
            <section class="col">
                <h2 class="display-5 pb-2">Garantiza la Seguridad y Confort en tu Espacio</h2>
                <p>
                    Nuestras láminas de protección solar están diseñadas para ofrecer la máxima seguridad y confort. Bloquean hasta el 99% de los rayos UV, reducen el deslumbramiento y mantienen una temperatura ideal en cualquier espacio. Proteja a su familia, empleados o clientes mientras mejora la eficiencia energética y la estética de su entorno. Estas soluciones son ideales para viviendas, oficinas, vehículos y embarcaciones, proporcionando mayor privacidad y un ambiente agradable. Disfrute de un equilibrio perfecto entre funcionalidad y diseño sin comprometer la calidad ni la durabilidad.
                </p>
            </section>
            <section class="col">
            <img src="images/edificios/solar/IMG_1927.jpg" class="img-fluid claraboyaimg" alt="Protección Solar">
            </section>
        </div>

        <div class="row solar row-cols-auto">
            <section class="col">
                <img src="images/edificios/solar/IMG_1986.jpg" class="img-fluid claraboyaimg" alt="Protección Solar">
            </section>
            <section class="col" style="margin-top: 5rem;">
                <h2 class="display-5 pb-2">Beneficios e Innovación</h2>
                <p>
                    Descubra cómo nuestras láminas de protección solar combinan beneficios excepcionales con tecnología innovadora. Reduzca el calor y el consumo energético, proteja muebles e interiores de la decoloración causada por el sol y disfrute de un entorno más cómodo y eficiente. Fabricadas con los más altos estándares, estas láminas ofrecen durabilidad y un acabado impecable, adaptándose a diversas aplicaciones: hogares, oficinas, automóviles o embarcaciones. Apostamos por la innovación para mejorar su calidad de vida y maximizar la protección en cualquier lugar.
                </p>
            </section>
        </div>

        <div class="row solar row-cols-auto">
            <section class="col" style="margin-top: 5rem;">
                <h2 class="display-5 pb-2">Instalación Profesional y Mantenimiento</h2>
                <p>
                    En cada proyecto, garantizamos una instalación profesional y un mantenimiento impecable para nuestras láminas de protección solar. Nuestro equipo de expertos cuenta con amplia experiencia, asegurando acabados perfectos y soluciones personalizadas según sus necesidades. Además, ofrecemos mantenimiento periódico para prolongar la vida útil y el rendimiento de las láminas, asegurando su efectividad a largo plazo. Transforme su espacio con un servicio fiable, profesional y orientado a los detalles. Confíe en nosotros para obtener resultados que superen sus expectativas.
                </p>
            </section>
            <section class="col">
                <img src="images/edificios/solar/PUlido-4.jpg" class="img-fluid claraboyaimg" alt="Protección Solar">
            </section>
            
        </div>
    </div>
</div>