<div class="container text-left py-3 mt-5">
    <div class="col gx-5">
        <h1 class="display-4 pb-4">Protección Contra Rayos UV</h1>
        <div class="row solar row-cols-auto">
            <section class="col">
                <h2 class="display-5 pb-2">Seguridad y Confort</h2>
                <p>
                    La protección contra los rayos UV es esencial para garantizar la seguridad y el confort en cualquier espacio, ya sea residencial, comercial o automotriz. Los rayos UV no solo son perjudiciales para la salud, sino que también pueden dañar muebles, pisos y otros elementos expuestos al sol. Las láminas de protección solar UV son una solución eficaz para minimizar estos efectos nocivos, bloqueando hasta el 99% de los rayos UV. En ISP Control Solar, ofrecemos una amplia gama de láminas diseñadas para satisfacer diversas necesidades y preferencias, asegurando un ambiente más seguro y confortable.
                </p>
            </section>
            <section>
            <img src="" class="img-fluid custom-img-fluid col" alt="Protección Solar">
        </section>
        </div>

        <div class="row solar row-cols-auto">
            <img src="" class="img-fluid custom-img-fluid col" alt="Protección Solar">
            <section class="col" style="margin-top: 5rem;">
                <h2 class="display-5 pb-2">Beneficios e Innovación</h2>
                <p>
                    Las láminas de protección contra rayos UV ofrecen múltiples beneficios que mejoran significativamente el confort y la seguridad de los espacios. Entre sus ventajas destacan la protección contra los daños solares, la reducción del calor interior y la disminución del deslumbramiento. Estas láminas también contribuyen a mantener una temperatura más agradable, lo que puede reducir el uso de sistemas de aire acondicionado y, por ende, el consumo energético. La innovación en este campo ha permitido el desarrollo de materiales más duraderos y eficientes, que proporcionan una protección UV superior y se adaptan a diversas aplicaciones, desde ventanas de edificios hasta vehículos.
                </p>
            </section>
        </div>

        <div class="row solar row-cols-auto">
            <section class="col" style="margin-top: 5rem;">
                <h2 class="display-5 pb-2">Instalación Profesional y Mantenimiento</h2>
                <p>
                    Para asegurar un rendimiento óptimo y una larga vida útil de las láminas de protección contra rayos UV, es fundamental contar con una instalación profesional. En ISP Control Solar, nuestros expertos utilizan materiales de alta calidad y técnicas avanzadas para garantizar que las láminas cumplan con sus funciones de manera óptima. Además, el adecuado cuidado y mantenimiento de las láminas es esencial para prolongar su efectividad. Se recomienda limpiarlas regularmente con productos no abrasivos y revisar periódicamente su estado para detectar posibles daños. Siguiendo estas pautas, las láminas de protección UV proporcionarán la máxima protección y confort por más tiempo, mejorando significativamente la calidad de vida en cualquier espacio.
                </p>
            </section>
            <img src="" class="img-fluid" alt="Protección Solar">
        </div>
    </div>
</div>