<div class="videoinicio">
  <video width="100%" autoplay muted loop playsinline poster="images/six_senses/portada.JPG">
    <source src="images/six_senses/videoportada1.mp4" type="video/mp4">
    Tu navegador no soporta videos HTML5.
  </video>
  
  </div>

  <div class="container-fluid text-center py-6 mt-5">
    <h1 class="fs-1 text-body-secondary">
      Laminas de <b class="text-body">EFICIENCIA ENERGETICA</b> en edificios
    </h1>
  </div>
  <div class="bodycontent">
    <div class="container text-left py-6 mt-5">
      <h2 class="display-5 pb-6">¿Que hacemos?</h2>
      <div class="row">
        <div class="col-sm py-4">
          <p>
            Instalamos <b>láminas de protección solar</b> que proporcionan una
            mejora de las propiedades de los acristalamientos existentes,
            solucionar los problemas solares por exceso de calor y/o de luz y
            mejorar la <b>eficiencia energética</b>.
          </p>
          <p>
            Disponemos de un gran catalogo de <b>láminas de control solar</b>,
            que tras una evaluación del proyecto a realizar, podremos
            asesorarle con la opción que mas se ajuste a sus necesidades.
          </p>
          <p>
            Consigue la protección que necesitas sin necesidad de remplazar
            los cristales existentes con una instalación económica, rápida,
            sin necesidad de obras y realizada por profesionales certificados.
          </p>
          <p>Solicita información sin compromiso.</p>
        </div>
      </div>
    </div>
    <div class="container text-left py-6">
      <h2 class="display-5 pb-6">
        ¿Como funcionan las láminas de protección solar?
      </h2>
      <div class="row">
        <div class="col-sm py-4">
          <p>
            Con una lámina de control solar, es posible reflejar las
            radiaciones infrarrojas y devolverlas al exterior antes de que
            traspase completamente el vidrio y se conviertan en calor,
            mejorando considerablemente la eficiencia energética en los
            edificios. Reducen el consumo energético desde el primer día
            mejorando el clima y rechazando hasta el 90% de la radiación
            solar. Las láminas para edificios de protección solar y seguridad
            rechazan la energía solar causante del calor, reducen
            drásticamente la ganancia calórica de los acristalamientos. En
            función de los materiales utilizados en su composición y
            fabricación obtenemos un producto con un acabado estético y unas
            prestaciones totalmente diferentes.
          </p>
          <p>
            Las láminas de seguridad proporcionan al vidrio las excepcionales
            cualidades del poliéster laminado frente al impacto: flexibilidad,
            elasticidad, resistencia, impidiendo ser proyectado el vidrio
            desfragmentado.
          </p>
          <p>
            Las laminas solares profesionales están fabricadas en poliéster de
            calidad óptica altamente nítido y cristalino, sin distorsionar la
            vista una vez instalado por nuestros profesionales. Las láminas
            Solares que instalamos son diseñadas para proporcionar un confort
            térmico óptimo, mejorar la estética y la seguridad, dotar de
            privacidad a los edificios y contribuir a la eficiencia
            energética.
          </p>
        </div>
      </div>
    </div>
    <div class="container text-left py-6">
      <h2 class="display-5 pb-6">¿Porque elegir ISP Control solar?</h2>
      <div class="row">
        <div class="col-sm py-4">
          <p>
            Somos una empresa dedicada a la instalación de láminas de
            protección solar con más de 20 años de experiencia en el sector,
            trabajamos y estamos certificados con los mejores fabricantes en
            láminas solares del mercado, 3M, Avery dennison y llumar.
          </p>
          <p>
            Ofrecemos el mejor estudio, asesoramiento e instalación de láminas
            de protección solar por técnicos altamente cualificados. Reducen
            el consumo energetico desde el primer dia mejorando el clima
            rechazando hasta el 90% de la radiación solar. Nos diferencia la
            PROFESIONALIDAD, CALIDAD Y RESULTADO.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="servicios" class="container-fluid text-center">
    <div class="row">
      <div class="col">
        <a routerLink="/edificios/proteccionSolar" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="images/oracle/arquitecturamini.jpg"  alt="arquitectura" />
        <h3>Arquitectura</h3>
      </a>
      </div>
      <div class="col">
        <a routerLink="/automocion" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="images/automocion/miniaturacoches.jpg" alt="" />
        <h3>Automoción</h3>
      </a>
      </div>
      <div class="col">
        <a routerLink="/nautica" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img src="images/nautica.webp" alt="" />
          <h3>Nautica</h3>
      </a>
      </div>
      <div class="col">
        <a routerLink="/pulido" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img src="images/Pulido/pulidoportada.jpg" alt="" />
          <h3>Pulido de cristales</h3>
      </a>
      </div>
    </div>
  </div>
